.contenedorPadre{
  width: 100%;
  height: 700px;
  background: #fff;
  position: relative;
}
img{
  width: 100%;
  height: 100%;
  position: absolute;
}

h2{
  text-align: center;
}
a{
  color: #000;
  text-decoration: none;
}
.btn{
  background-color:#05802E;
  border-color: #05802E;
}
.btn:hover{
  background-color:#004018;
  border-color: #004018;
}


.cabecera{
  width: 100%;
  height: 400px;
  position: absolute;
}

.logo{
  top: 10px;
  left: 10px;
  width: 110px;
  height: 110px;
  position: absolute;
}

.irainicio
{
	top: 10px;
  right: 10px;
  width: 110px;
  height: 110px;
  position: absolute;
}

.cerrarsesion
{
	top: 10px;
  right: 10px;
  width: 110px;
  height: 110px;
  position: absolute;
}

.tituloCabecera{
  top: 50%;
  left: 33%;
  text-align: center;
  color:#fff;
  position: absolute;

}

.contenido{
  left: 0%;
  top: 400px;
  width: 100%;
  height: 250px;
  position: absolute;
}

.fondocirculo{
  top: 50px;
  background:#004003;
  margin: 10px;
  width: 700px;
  height: 700px;
  float: left;
  position: relative;
  left: 30%;
  border-radius:100%;
}

.fondocirculoblanco{
  background:#ffffff;
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius:100%;
  top:100px;
  left:100px;
}
.logoblanco{
  width: 150px;
  height: 150px;
  top:35%;
  left:35%;
  position:absolute;
}

.fondomenucirculoTOPr{
	position: absolute;
	width: 300px;
	height: 300px;
	top: 0px;
	background: #00BF0A;
	border-radius:100%;
}
.textoTOP{
	position:absolute;
	top:0px;
	left:100px;
	color:#BF2419;
}
.textoRIGHT{
	position:absolute;
	top:130px;
	left:0px;
	color:#BF2419;
}
.textoLEFT{
	position:absolute;
	top:120px;
	right:0px;
	color:#BF2419;
}
.textoBOTTOM{
	position:absolute;
	bottom:0px;
	left:100px;
	color:#BF2419;
}
.fondoplanta{
	background:#BF2419;
	position:absolute;
	width: 40px;
	height: 40px;
	left:120px;
	top: 120px;
	border-radius: 100%;
}
.planta1{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 8px;
	top: 8px;
}

.fondomenucirculoTOPl{
	position: absolute;
	width: 300px;
	height: 300px;
	right: 0px;
	background: #00BF0A;
	border-radius:100%;
}

.fondomenucirculoBOTTOMr{
	position: absolute;
	width: 300px;
	height: 300px;
	bottom: 0px;
	background: #00BF0A;
	border-radius:100%;
}

.fondomenucirculoBOTTOMl{
	position: absolute;
	width: 300px;
	height: 300px;
	right:0px;
	bottom: 0px;
	background: #00BF0A;
	border-radius:100%;
}

.descripcion{
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 60%;
  padding: 0px;
  
}

.foot{
  width: 100%;
  height: 80px;
  background: #0F4010;
  position: absolute;
  text-align: center;
  bottom: 0px;
}

.derecha{
  right: 0%;
  bottom: 0%;
  position: absolute;
}
.izquierda{
  left: 0px;
  bottom: 0%;
  position: absolute;
}
